<section class="banner">
    <div class="banner-container">
        <div class="img-banner">
            <img src="assets\img\mesamani.jpeg" alt="mesa manicura">
            <div class="banner-text">
                <h1 class="dancing-script-h1">Manicuras</h1>
                <hr>
                <p>Descubre una manicura moderna y profesional <br>que garantiza uñas perfectas y un acabado duradero. </p>
            </div>
        </div>
    </div>
</section>
<section class="information-sec">
    <div class="information">
        <h1 class="dancing-script-h1">Descubre todos nuestros servicios en Manicuras</h1>
        <p>En Mimos realizamos todo tipo de manicuras. <br><br> Nuestro objetivo es sacar a relucir <strong>tu estilo único</strong> a la vez que cuidamos y protegemos la salud de tus uñas. <br>
        Porque no todos tenemos el mismo tipo de uña y es importante adaptarnos a lo que cada cliente necesita. <br><br>
    Descubre todos nuestros diseños</p>
        <a class="blue-btn" target="_blank" href="https://www.instagram.com/mimosvigo">Descúbrelas</a>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\express.jpg" alt="manicura express">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">Manicura Express</h2>
            <p>Para un cuidado rápido y eficaz <br>
            En Mimos te cortamos, limamos y pintamos para que no pierdas un minuto <br>
        Si tienes poca cutícula o no te la Semipermanente por lo rápido que crece tu uña, <br>
        ¡Este es tu servicio!</p>
            <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
    </div>
</section>
<section class="example-secizq">
    <div class="exampleizq">
        <div class="textizq">
            <h2 class="dancing-script-h1">Manicura Completa</h2>
            <p>Disfruta de un servicio completo, comenzando con un masaje e hidratación de tus manos <br>
            Tras ello limamos, cortamos y tratamos tus cutículas con mucho mimo. <br><br>
            Si te muerdes las uñas o tu cutícula está muy pegada a la uña,<br>
            ¡Este es tu servicio!</p>
                <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
        <div class="div-imgizq" appIntersectionObserver>
            <img src="assets\img\completa.jpg" alt="manicura express">
        </div>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\semiperma.jpg" alt="manicura express">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">Manicura Esmaltado Semipermanente</h2>
            <p>¡El más solicitado por nuestras clientas! <br>
                Disfruta una experiencia de cuidado y embellecimiento de tus manos <br> 
                que combina el lujo de una manicura tradicional <br>
                con la durabilidad y el brillo excepcionales del esmalte semipermanente. <br><br>
            Además en Mimos tenemos cientos de diseños para que elijas o que nos traigas el que tú quieras. </p>
            <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
    </div>
</section>