<section class="sec-banner">
    <div class="banner">
        <div>
            <img class="banner-img" src="assets\img\sillones.jpg" alt="Libro Kelaya">
        </div>
        <div class="banner-text" appIntersectionObserver>
            <h1 class="dancing-script-h1">Conoce Mimos</h1>
            <hr>
            <p>Queremos proporcionarte una experiencia única de bienestar y cuidado corporal<br> <br>Utilizando productos de calidad y técnicas innovadoras.</p>
        </div>
    </div>
</section>
<section class="sec-nosotras">
    <div class="nosotras">
        <h1 class="dancing-script-h1">Sobre Nosotras</h1>
        <p>En Mimos Beauty Center, nos apasiona el arte del cuidado corporal y la belleza natural. <br><br> Nuestro estudio se especializa en estética y tratamientos corporales, utilizando <strong>técnicas y cosmética de la más alta calidad. <br></strong>Todos nuestros servicios están enfocados no solo a que te veas bien sino a ayudarte a mantener tu cuerpo saludable, <br> desde nuestras manicuras y pedicuras hasta nuestras limpiezas faciales. <br> <br>En todos nuestros servicios utilizamos <strong>marcas profesionales</strong> que nos aportan confianza y efectos duraderos al utilizarlas. <br>todo ello en un ambiente <strong>acogedor y profesional</strong> en el que te sentirás como en casa.</p>
    </div>
</section>
<section class="elegirnos-vision" appIntersectionObserverChildren>
    <div class="mision">
        <div class="mision-img">
            <img src="assets\icons\iconocara-grande.svg" alt="Cara cremas">
        </div>
        <div class="text">
            <h2 class="dancing-script-h2">Nuestro Compromiso</h2>
            <p>Nuestro estudio se especializa en estética y tratamientos corporales, utilizando técnicas y cosmética de la más alta calidad.
                Todos nuestros servicios están enfocados no solo a que te veas bien sino a ayudarte a mantener tu cuerpo saludable,
                desde nuestras manicuras y pedicuras hasta nuestras limpiezas faciales.
                </p>
        </div>
    </div>

    <div class="vision">
        <div class="text-reverse">
            <h2 class="dancing-script-h2">Nuestra Visión</h2>
            <p>Nuestro estudio se especializa en estética y tratamientos corporales, utilizando técnicas y cosmética de la más alta calidad.
                Todos nuestros servicios están enfocados no solo a que te veas bien sino a ayudarte a mantener tu cuerpo saludable,
                desde nuestras manicuras y pedicuras hasta nuestras limpiezas faciales.
                </p>
        </div>
        <div class="vision-img">
            <img src="assets\icons\icono-corazon.svg" alt="Corazon">
        </div>
    </div>

    <div class="valores">
        <div class="valores-img">
            <img src="assets\icons\calidad.svg" alt="Corazón Productos">
        </div>
        <div class="text3">
            <h2 class="dancing-script-h2">Nuestros Valores</h2>
            <p>Nuestro estudio se especializa en estética y tratamientos corporales, utilizando técnicas y cosmética de la más alta calidad.
                Todos nuestros servicios están enfocados no solo a que te veas bien sino a ayudarte a mantener tu cuerpo saludable,
                desde nuestras manicuras y pedicuras hasta nuestras limpiezas faciales.
                </p>
        </div>
    </div>
</section>
