html, body { 
height: 100%;
margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-image: url('./assets/img/fondo2.jpeg');
background-size: 100%;
background-position: center 12%; }

@media (max-width: 768px) {
    body {
      background-position: center;
    }
  }