html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-image: url('./assets/img/fondo2.jpeg');
background-size: 100%;
background-position: center 12%; }
