<section class="contact-sec">
    <div class="contact-banner">
        <div class="banner">
            <div>
                <img class="contact-img" src="assets\img\pato.jpeg" alt="Foto Contacta">
            </div>
            <div class="banner-text">
                <h1 class="dancing-script-h1">Contacta con Mimos Beauty Center</h1>
                <p>Llámanos, visítanos o envíanos un mensaje y saca a relucir tu mejor versión.</p>
            </div>
        </div>
    </div>
</section>
<section class="container-sec">
    <div class="horario">
        <h1 class="dancing-script-h1">Conoce Nuestro Centro</h1>
        <p>En el corazón de Vigo, Mimos será <strong>tu refugio de serenidad y cuidado personal.</strong> <br>
        Podrás dejar de lado las preocupaciones del día a día y <strong>darte tiempo para tí</strong>. <br> <br> Nuestro acogedor estudio <strong>combina la tradición con la modernidad y comodidad</strong> que tanto te mereces.<br>
        Ofreciéndote el ambiente cálido y profesional que buscas.</p>
        <div class="horario-info" appIntersectionObserver>
            <h2 class="dancing-script-h2">Nuestro Horario</h2>
            <hr class="horario-hr">
            <p><strong>Lunes a Viernes</strong><br>09:30 - 19:00 <br> <br>
            <strong>Sábados</strong><br> 09:30 - 13:30</p>
            <h2 class="dancing-script-h2">¡Esperamos Verte Pronto!</h2>
        </div>
    </div>
</section>
<section class="container-contact">
    <div class="contact-data">
        <div class="contact-text">
            <h2 class="dancing-script-h2">Ponte en Contacto con Nosotras</h2>
            <p>Ponte en contácto con nuestro equipo, estaremos encantadas de resolver cualquier duda que tengas sobre nuestros tratamientos y promociones</p>
            <p>Si lo que quieres es una consulta personalizada para conocer cuál de nuestros tratamientos es el más ideal para tí, llámanos o visíta nuestro local. <br><br>
                <strong>¡No tendrá ningún coste añadido!</strong>
            </p>
        </div>
        <div class="contact-rrss">
            <hr>
            <p>Puedes ponerte en contacto con nosotras a través de cualquiera de estos medios:</p>
            <ul class="list-rrss">
                <li class="rrss">
                    <mat-icon>email</mat-icon>mimosvigo@gmail.com
                </li>
                <li class="rrss">
                    <mat-icon>phone</mat-icon>623 32 48 48 ~ 986 06 68 14
                </li>
                <li class="rrss">
                    <a href="https://api.whatsapp.com/send?phone=623324848" target="_blank" class="whatsapp-link">
                        <mat-icon>message</mat-icon>WhatsApp
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="map-sec">
    <h1 class="dancing-script-h1">¡Visítanos Cuando Quieras!</h1>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2954.1664419566914!2d-8.703551499999998!3d42.232257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f6365b3158e35%3A0xf8ad9da54a916766!2sMimos%20Beauty%20Center!5e0!3m2!1ses!2ses!4v1721248528096!5m2!1ses!2ses" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>