<section class="banner">
    <div class="banner-container">
        <div class="img-banner">
            <img src="assets\img\cabina.jpg" alt="mesa manicura">
            <div class="banner-text">
                <h1 class="dancing-script-h1">Depilaciones</h1>
                <hr>
                <p>Experimenta una depilación suave y eficaz para una piel impecable <br> y libre de vello, con resultados que perduran.</p>
            </div>
        </div>
    </div>
</section>
<section class="information-sec">
    <div class="information">
        <h1 class="dancing-script-h1">Descubre todos nuestros servicios en Depilaciones</h1>
        <p>¿Buscas eliminar esos pelitos que tanto molestan? <br><br>¡Pues no te lo pienses más!, en Mimos ofrecemos depilaciones tanto con hilo como con cera <br>
            Asegurando resultados <strong>suaves y duraderos</strong> para tu piel.
            <br><br>
        ¡No te pierdas nuestras promociones!</p>
        <a class="blue-btn" target="_blank" href="https://www.instagram.com/mimosvigo">Descúbrelas</a>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\hilo.png" alt="depilacion hilo">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">Depilación con Hilo</h2>
            <p>Es una técnica milenaria que ofrece una precisión y rapidez inigualables, <br>
            Ideal para dar forma perfecta a tus cejas y remover el vello facial con suavidad. <br><br>
            A diferencia de otros métodos, es totalmente natural, no requiere químicos y es menos agresiva para la piel, <br>
            Además, con el hilo se logra un acabado más duradero, ya que remueve el vello desde la raíz <br><br>
            ¡Si buscas una piel suave y definida el hilo es la opción ideal!</p>
            <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
    </div>
</section>
<section class="example-secizq">
    <div class="exampleizq">
        <div class="textizq">
            <h2 class="dancing-script-h1">Depilacion con Cera</h2>
            <p>Es la más indicada cuando hablamos de depilaciones en zonas más grandes <br>
            Piernas, Ingle, Torso o Axilas. No solo permite arrancar el vello desde la raíz sino <br>
            que debilita su crecimiento, se adapta a todo tipo de pieles dejando una sensación <br>
        sedosa y limpia en tu piel. Si buscas olvidarte de esos pelos incómodos, <br>
        ¡La cera es la mejor elección!</p>
                <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
        <div class="div-imgizq" appIntersectionObserver>
            <img src="assets\img\cera.jpg" alt="depilacion cera">
        </div>
    </div>
</section>
