<section class="banner">
    <div class="banner-container">
        <div class="img-banner">
            <img src="assets\img\cabina.jpg" alt="mesa manicura">
            <div class="banner-text">
                <h1 class="dancing-script-h1">Depilaciones</h1>
                <hr>
                <p>Texto de Prueba Evelyn ya me dirás tu que carajo poner aquí.</p>
            </div>
        </div>
    </div>
</section>
<section class="information-sec">
    <div class="information">
        <h1 class="dancing-script-h1">Descubre todos nuestros servicios en Depilaciones</h1>
        <p>¿Buscas eliminar esos pelitos que tanto molestan? <br><br>¡Pues no te lo pienses más!, en Mimos ofrecemos depilaciones tanto con hilo como con cera <br>
            Asegurando resultados <strong>suaves y duraderos</strong> para tu piel.
            <br><br>
        ¡No te pierdas nuestras promociones!</p>
        <a class="blue-btn" target="_blank" href="https://www.instagram.com/mimosvigo">Descúbrelas</a>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\hilo.png" alt="depilacion hilo">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">Depilación con Hilo</h2>
            <p>Texto de pruebaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
    </div>
</section>
<section class="example-secizq">
    <div class="exampleizq">
        <div class="textizq">
            <h2 class="dancing-script-h1">Depilacion con Cera</h2>
            <p>Texto de pruebaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
        <div class="div-imgizq" appIntersectionObserver>
            <img src="assets\img\cera.jpg" alt="depilacion cera">
        </div>
    </div>
</section>
