<section class="banner">
    <div class="banner-container">
        <div class="img-banner">
            <img src="assets\img\presoterapia.jpeg" alt="presoterapia">
            <div class="banner-text">
                <h1 class="dancing-script-h1">Presoterapia</h1>
                <hr>
                <p>Revitaliza tu cuerpo con la presoterapia <br>
                Una terapia avanzada que mejora la circulación y reduce la retención de líquidos.</p>
            </div>
        </div>
    </div>
</section>
<section class="information-sec">
    <div class="information">
        <h1 class="dancing-script-h1">¿Qué es la Presoterapia?</h1>
        <p> Es un tratamiento no invasivo que utiliza la presión de aire para mejorar la circulación y el drenaje linfático. 
        <br>Se recomienda para <strong>reducir la retención de líquidos, disminuir la celulitis y aliviar la sensación de piernas cansadas.</strong><br><br>
            ¡Llámanos y agenda tu primera sesion de Presoterapia!
            <br><br></p>
        <a class="blue-btn" target="_blank" href="https://api.whatsapp.com/send?phone=623324848">Contáctanos</a>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\presosesion.png" alt="Sesion Preso">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">¿Por qué se recomienda?</h2>
            <p>En nuestro día a día sobrecargamos nuestro cuerpo con actividades <br>
            estrés y cansancio. Lo que puede dejarlo sintiendose cansado y pesado. <br><br>
            La Presoterapia es la solución perfecta para revitalizarte y devolverte <br>
            esa sensación de frescura y ligereza. Este tratamiento innovador utiliza aire comprimido <br>
        para aplicar presión sobre diferentes áreas mejorando la circulación, eliminando líquidos y toxinas. <br><br>
        Lo mejor de todo es que al tratarse de un método no invasivo, no necesitas tiempo de recuperación <br>
    aliviando dolores y tensión desde la primera sesión.<br><br>
        Ven a nuestro centro y experimenta los beneficios de la Presoterapia <br>
        ¡Te sentirás renovada y llena de energía! <br><br>
        Reserva tu primera sesión o descubre nuestros bonos.</p>
            <a class="blue-btn" target="_blank" href="">Reserva tu Cita</a>
        </div>
    </div>
</section>
<section class="example-secizq">
    <div class="exampleizq">
        <div class="textizq">
            <h2 class="dancing-script-h1">Nuestros Equipos</h2>
            <p>En Mimos tendrás todo lo necesario para realizar tus sesiones de Presoterapia: <br>

                Contamos con una máquina de Presoterapia profesional. <br> <br>
                Llevaremos un registro de cada sesión
                donde detallaremos que programa y nivel de intensidad que se utilizó.
                Tendrás tus propios leggins para cada sesión de Presoterapia <br>
                Evitando así que tengas que traer nada de casa. <br> <br>
                La sesión se realiza mediante el traje de aire el cual tenemos de cuerpo completo <br>
                Aunque no es necesario realizar la Presoterapia en todo el cuerpo, pues puedes utilizar <br>
                solo piernas, brazos o abdomen si lo prefieres. <br><br>

                Las sesiones tienen una duración de 45 minutos, y están limitadas a dos por semana <br>
                no siendo posible realizarlas en un mismo día.
            </p>
                <a class="blue-btn" target="_blank" href="">Reserva tu Cita</a>
        </div>
        <div class="div-imgizq" appIntersectionObserver>
            <img src="assets\img\equipopreso.jpeg" alt="Equipo Presoterapia">
        </div>
    </div>
</section>

