<section class="banner">
    <div class="banner-container">
        <div class="img-banner">
            <img src="assets\img\presoterapia.jpeg" alt="presoterapia">
            <div class="banner-text">
                <h1 class="dancing-script-h1">Presoterapia</h1>
                <hr>
                <p>Texto de Prueba Evelyn ya me dirás tu que carajo poner aquí.</p>
            </div>
        </div>
    </div>
</section>
<section class="information-sec">
    <div class="information">
        <h1 class="dancing-script-h1">¿Qué es la Presoterapia?</h1>
        <p> Es un tratamiento no invasivo que utiliza la presión de aire para mejorar la circulación y el drenaje linfático. 
        <br>Se recomienda para <strong>reducir la retención de líquidos, disminuir la celulitis y aliviar la sensación de piernas cansadas.</strong><br><br>
            ¡Llámanos y agenda tu primera sesion de Presoterapia!
            <br><br></p>
        <a class="blue-btn" target="_blank" href="https://api.whatsapp.com/send?phone=623324848">Contáctanos</a>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\presosesion.png" alt="Sesion Preso">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">¿Por qué se recomienda?</h2>
            <p>Texto de pruebaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            <a class="blue-btn" target="_blank" href="">Reserva tu Cita</a>
        </div>
    </div>
</section>
<section class="example-secizq">
    <div class="exampleizq">
        <div class="textizq">
            <h2 class="dancing-script-h1">Nuestros Equipos</h2>
            <p>Texto de pruebaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                <a class="blue-btn" target="_blank" href="">Reserva tu Cita</a>
        </div>
        <div class="div-imgizq" appIntersectionObserver>
            <img src="assets\img\equipopreso.jpeg" alt="Equipo Presoterapia">
        </div>
    </div>
</section>

