<section class="banner">
    <div class="banner-container">
        <div class="img-banner">
            <img src="assets\img\pedicura2.jpeg" alt="Sillones Pedicura">
            <div class="banner-text">
                <h1 class="dancing-script-h1">Pedicuras</h1>
                <hr>
                <p>Descubre una pedicura avanzada que transforma tus pies <br> con un cuidado excepcional y resultados duraderos.</p>
            </div>
        </div>
    </div>
</section>
<section class="information-sec">
    <div class="information">
        <h1 class="dancing-script-h1">Dale a tus pies los mimos que necesitan</h1>
        <p>En el día a día castigamos nuestros pies en el trabajo, gimnasio o incluso en la ducha.<br> Desde Mimos sabemos que es <strong>muy importante mantener</strong> una buena higiene y salud en tus pies <br><br>
        A veces necesitas la ayuda de profesionales para devolerle a tus pies la salud y forma que tenian, ¡Dale una patada a los complejos! <br><br>
    Descubre todos nuestros trabajos y reconstrucciones</p>
        <a class="blue-btn" target="_blank" href="https://www.instagram.com/mimosvigo">Descúbrelas</a>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\pedicura express.jpg" alt="pedicura express">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">Pedicura Express</h2>
            <p>La Pedicura Express es la opción perfecta para quienes buscan un cuidado rápido y sencillo <br> 
                cortamos y limamos tus uñas para dejarlas con la forma y longitud deseada. <br>
                 Luego aplicamos un esmalte de tu elección, brindándote un acabado impecable <br><br>
                Es ideal para quienes prefieren no usar un esmalte semipermanente <br>
            O para poder quitarselo cuando prefieran. <br>
            Si buscas un embellecimiento eficiente y rápido, es justo lo que necesitas</p>
            <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
    </div>
</section>
<section class="example-secizq">
    <div class="exampleizq">
        <div class="textizq">
            <h2 class="dancing-script-h1">Pedicura Completa</h2>
            <p>La Pedicura Completa es el servicio ideal para quienes buscan un cuidado detallado <br>
                 comenzamos cortando y limando las uñas para darles la forma y longitud perfecta <br>
                Luego tratamos y retiramos suavemente las cutículas y limamos las durezas dejando un contorno limpio y pulido.
                 Tras eso aplicamos un esmalte de tu elección.
                 <br><br> También disfrutarás un lavado con masaje relajante que dejará tus pies suaves y revitalizados</p>
                <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
        <div class="div-imgizq" appIntersectionObserver>
            <img src="assets\img\pedicura completa.png" alt="pedicura completa">
        </div>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\pedicurasemi.jpg" alt="Pedicura semipermanente">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">Pedicura Esmaltado Semipermanente</h2>
            <p> Comenzamos cortando y limando las uñas para darles la forma y longitud perfecta <br>
               Tratamos y retiramos suavemente las cutículas y limamos las durezas dejando un contorno limpio y pulido. <br>
                Tras eso aplicamos un esmalte de tu elección semipermanente para un brillo intenso y prolongado.
                <br><br> También disfrutarás un lavado con masaje relajante que dejará tus pies suaves y revitalizados</p>
            <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
    </div>
</section>