<section class="banner">
    <div class="banner-container">
        <div class="img-banner">
            <img src="assets\img\pedicura2.jpeg" alt="Sillones Pedicura">
            <div class="banner-text">
                <h1 class="dancing-script-h1">Pedicuras</h1>
                <hr>
                <p>Texto de Prueba Evelyn ya me dirás tu que carajo poner aquí.</p>
            </div>
        </div>
    </div>
</section>
<section class="information-sec">
    <div class="information">
        <h1 class="dancing-script-h1">Dale a tus pies los mimos que necesitan</h1>
        <p>En el día a día castigamos nuestros pies en el trabajo, gimnasio o incluso en la ducha.<br> Desde Mimos sabemos que es <strong>muy importante mantener</strong> una buena higiene y salud en tus pies <br><br>
        A veces necesitas la ayuda de profesionales para devolerle a tus pies la salud y forma que tenian, ¡Dale una patada a los complejos! <br><br>
    Descubre todos nuestros trabajos y reconstrucciones</p>
        <a class="blue-btn" target="_blank" href="https://www.instagram.com/mimosvigo">Descúbrelas</a>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\pedicura express.jpg" alt="pedicura express">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">Pedicura Express</h2>
            <p>Texto de pruebaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
    </div>
</section>
<section class="example-secizq">
    <div class="exampleizq">
        <div class="textizq">
            <h2 class="dancing-script-h1">Pedicura Completa</h2>
            <p>Texto de pruebaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
        <div class="div-imgizq" appIntersectionObserver>
            <img src="assets\img\pedicura completa.png" alt="pedicura completa">
        </div>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\pedicurasemi.jpg" alt="Pedicura semipermanente">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">Pedicura Esmaltado Semipermanente</h2>
            <p>Texto de pruebaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
    </div>
</section>