<section class="sec-home">
    <div class="banner-container">
      <div class="banner-title">
        <h1 class="dancing-script-h1-banner">Dale a tu cuerpo los mimos que necesita <br> con nuestros tratamientos</h1>
        <p>En nuestro centro, te ofrecemos una <strong>amplia gama de tratamientos <br> <br></strong> acompañados de productos <strong>naturales</strong> con la mejor calidad, atención y mimo.
        <br><br>¡Llámanos y agenda tu cita!</p>
        <div class="banner-btn">
          <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
          <a class="blue-btn" target="_blank" href="https://api.whatsapp.com/send?phone=623324848">Contáctanos</a>
        </div>
      </div>
      <div class="banner-img">
        <img src="assets\img\banner-chica-mirando-con-mascarilla-y-serum.avif" alt="chica mirando y muestra producto facial">
      </div>
    </div>
  </section>
  <section class="sec-intro">
    <h2 class="dancing-script-h1">Bievenidos a Mimos Beauty Center</h2>
    <div class="intro">
      <div class="intro-img" appIntersectionObserver>
      </div>
      <div class="intro-text">
        <p class="info-intro-1">¡Visítanos y descubre todos nuestros servicios!</p>
        <p class="info-intro">En Mimos podrás mimarte desde la cabeza a los pies, pues ofrecemos todo tipo de <strong>tratamientos faciales, lifting de pestañas, depilaciones, manicuras y pedicuras</strong>.</p>
        <p class="info-intro">Pero no solo eso, ya que con nosotras encontrarás todos los tratamientos que tu cuerpo necesita como <strong>Maderoterapia y Presoterapia</strong>.</p>
      </div>
    </div>
  </section>
  <section class="sec-elegirnos">
    <h2 id="elegirnos-title" class="dancing-script-h1">¿Por qué elegir Mimos?</h2>
    <div class="elegirnos-grid">
      <div class="elegirnos1" appIntersectionObserver>
        <img src="assets\icons\elegirnos1.svg" alt="icono diagnostico">
        <h3 class="dancing-script-h2">Atención Personalizada</h3>
        <p>Cada cliente es <strong>único</strong> y en Mimos es algo que sabemos bien. <br> <br>
          <strong>Personalizamos cada tratamiento y servicio</strong> en base a <strong>las necesidades específicas de tu cuerpo, uñas o tipo de piel</strong>. <br> <br>
          ¡Nos encanta conoceros!
        </p>
      </div>
      <div class="elegirnos2" appIntersectionObserver>
        <img src="assets\icons\elegirnos2.svg" alt="icono productos">
        <h3 class="dancing-script-h2">Productos Naturales</h3>
        <p>Trabajamos con los mejores productos, utilizando tan solo <strong>marcas oficiales</strong> y cuya calidad y resultados no dejan lugar a duda sobre su calidad.<br> <br>
          Todos nuestros productos <strong>son naturales y no nocivos</strong> para tu piel o uñas. <br>Es una parte muy importante para nosotras, poder ofrecer <strong>la mejor calidad</strong>
          a las personas que nos eligen para cuidar su cuerpo.
        </p>
      </div>
      <div class="elegirnos3" appIntersectionObserver>
        <img src="assets\icons\elegirnos3.svg" alt="icono resultados">
        <h3 class="dancing-script-h2">Comprometidas con tus resultados</h3>
        <p><strong>Tu satisfacción es nuestra prioridad. <br></strong> Adaptamos nuestros tratamientos para garantizar que <strong>veas y sientas una verdadera transformación en tu cuerpo</strong>.
          <br> <br>Pero nuestro trabajo no termina aquí, ya que en Mimos podrás <strong>contar con nosotras en cualquier momento</strong> una vez finalizado el tratamiento, para asegurar <strong>tu completa satisfacción.</strong>
        </p>
      </div>
    </div>
  </section>
  <section class="sec-reviews">
    <div class="review-title">
      <h2 class="dancing-script-h1">Experiencias que nos Inspiran</h2>
    </div>
    <section class="review-section">
      <div class="review-container">
        <div *ngFor="let review of visibleReviews" class="review-item">
          <p class="author">{{ review.author }}</p>
          <img [src]="review.imageUrl" alt="estrellas google">
          <p>{{ review.text }}</p>
        </div>
      </div>
      <div class="buttons-div">
        <button class="review-buttons" (click)="showPrevReviews()"><</button>
        <button class="review-buttons" (click)="showNextReviews()">></button>
      </div>
      <div class="more-reviews">
        <a class="blue-btn" target="_blank" (click)="moreReviews()">Descúbrelas</a>
      </div>
    </section>
  </section>
  <section class="sec-doubts">
    <h2 class="dancing-script-h1">¿Tienes alguna duda? ¡Contáctanos Directamente!</h2>
    <p class="doubts-text">Estaremos encantadas de responder a todas tus preguntas y asegurarnos de ofrecerte el <strong>mejor servicio y experiencia posibles</strong> en Mimos Beauty Center.</p>
    <a class="blue-btn" target="_blank" href="https://api.whatsapp.com/send?phone=623324848">Contáctanos</a>
  </section>
