<section class="banner">
    <div class="banner-container">
        <div class="img-banner">
            <img src="assets\img\selva.jpg" alt="radiofrecuencia">
            <div class="banner-text">
                <h1 class="dancing-script-h1">Radiofrecuencia</h1>
                <hr>
                <p>Devuélvele a tu cuerpo su esplendor usando Radiofrecuencia<br>
                    Una tecnología moderna, no invasiva y con resultados visibles en la primera sesión.</p>
            </div>
        </div>
    </div>
</section>
<section class="information-sec">
    <div class="information">
        <h1 class="dancing-script-h1">¿Qué es la Radiofrecuencia?</h1>
        <p> Hoy en día la Radiofrecuencia es uno de los tratamientos más utilizados y mejor valorados. <br>
            Esto es debido a varios factores como el no ser invasivo para el cuerpo, indoloro, versátil y el más importante <br>
            <strong>¡Los resultados son visibles nada más terminar la sesión!</strong></p>
        <a class="blue-btn" target="_blank" href="https://api.whatsapp.com/send?phone=623324848">Agenda tu Valoración</a>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\buda.jpg" alt="maquina radiofrecuencia">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">¿Por qué utilizar Radiofrecuencia?</h2>
            <p> Es un tratamiento no invasivo que utiliza ondas electromagnéticas para calentar las capas profundas de la piel, <br>
                estimulando la producción natural de colágeno y elastina. <br><br>
                Mediante sus diferentes accesorios, la radiofrecuencia abarca una gran cantidad de servicios. <br>
                Tonifica los músculos como glúteo, piernas o abdomen de <strong>forma permanente</strong>, elimina las arrugas y piel flácida e incluso <br>
                nos ayuda a eliminar la grasa localizada en diferentes zonas. <br><br> Lo mejor es que mediante la combinación de radiofrecuencia con otros de nuestros tratamientos <br>
                Podrás llegar a duplicar o triplicar el resultado y alcanzar de forma más rápida resultados permanentes.
                <br>
        Ven a nuestro centro y experimenta los beneficios de la Radiofrecuencia<br>
        ¡Te verás como nunca! <br><br>
        Reserva tu valoración inicial donde te asesoraremos sobre qué tratamiento es el ideal para ti <br>
        Y si ya has estado con nosotros <strong>¡Descubre nuestros bonos!</strong></p>
            <a class="blue-btn" target="_blank" href="">Reserva tu Cita</a>
        </div>
    </div>
</section>
<section class="example-secizq">
    <div class="exampleizq">
        <div class="textizq">
            <h2 class="dancing-script-h1">Nuestros Equipos</h2>
            <p>En Mimos contamos con todos los accesorios para tu Radiofrecuencia: <br>

                Contamos con una máquina de Radiofrecuencia profesional. <br> <br>
                Utilizamos <strong>tecnología monopolar, bipolar y multipolar</strong>, adaptándonos a cada tipo de piel. <br>
                ¡Resultados visibles, sin dolor ni tiempo de recuperación! <br><br>

                La Radiofrecuencia estética utiliza electrodos para emitir ondas electromagnéticas<br>
                Cuya función consiste en calentar las capas más profundas de la piel lo que estimula la <strong>producción natural de colágeno y elastina</strong>. <br>
                Estos son los elementos necesarios para mantener una piel firme, sana y libre de arrugas o flacidez muscular. <br>
                Gracias a este proceso conseguimos reeducar a tu piel para mantenerse firme sin necesidad de realizar más sesiones. <br><br>

                Las sesiones tienen una duración de 45/50 minutos, y están limitadas a una cada 21 días. <br>
            </p>
                <a class="blue-btn" target="_blank" href="">Agenda tu Valoración</a>
        </div>
        <div class="div-imgizq" appIntersectionObserver>
            <img src="assets\img\guante.jpg" alt="Utensilios Radiofrecuencia">
        </div>
    </div>
</section>
