
.dancing-script-h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: xxx-large;
  }

  .dancing-script-h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
  }

  .dancing-script-a {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    cursor: default;
  }

  #logo-text:hover{
    background-color: white;
  }

  html, body {
    height: 100%;
    overflow: auto;
    margin: none;
  }
  
  .nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display: flex; /* Hace que los elementos dentro de .nav se alineen en fila */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
    background-color:  white; /* Color de fondo opcional */
    border-bottom: 1px solid rgb(218, 203, 203);
    box-shadow: 0 0 10px 0 gray;
    height: 8rem;
    width: 100%;
    margin: none;
    top: 0;
    z-index: 1000;
  }

  p{
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .logo{
    display: flex;
    align-items: center;
  }

  .logo-mimos{
    display: flex;
    align-self: center;
    width: 13rem;
    height: 7.5rem;
  }
  
  .menu {
    display: flex;
    text-align: center;
    flex: 2; /* Hace que el menú ocupe el doble de espacio que .logo */
    text-align: left; /* Centra el texto del menú horizontalmente */
    padding: 0.5rem;
    margin-left: 6rem;
  }

  .dancing-script-a{
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
      font-size: 2rem;
      margin-right: 0.5rem;
      padding-right: 0.4rem;
      padding-bottom: 0.32rem;
    }
  }

  .nav-menu li {
    position: relative;
    margin-right: 20px;
    text-align: left;
    display: inline-block; /* Muestra los elementos del menú en línea */
    margin-right: 2.5rem; /* Espacio entre elementos del menú */
  }

  li > a:hover{
    cursor: pointer;
  }

  .nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  
  .dropdown-menu {
    display: none; /* Ocultar el submenú por defecto */
    position: absolute;
    width: 10rem;
    margin: auto;
    top: 100%; /* Posiciona el submenú justo debajo del ítem principal */
    left: 50%; /* Centra el submenú horizontalmente en relación con el ítem principal */
    transform: translateX(-50%); /* Ajusta el centro del submenú en relación con el ítem principal */
    background-color: #fff; /* Color de fondo del submenú */
    border: 1px solid rgb(218, 190, 120); /* Borde del submenú */
    border-radius: 1rem; /* Bordes redondeados para un estilo de globito */
    padding: 1rem; /* Espaciado interno del submenú */
    box-shadow: 0 4px 6px rgb(218, 190, 120); /* Sombra para dar un efecto de elevación */
    z-index: 1000; /* Asegura que el submenú aparezca por encima de otros elementos */
  }
  
  .dropdown-menu a {
    padding: 10px;
    color: #000; /* Color del texto del submenú */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    display: block;
  }
  .dropdown-menu a:hover {
    opacity: 0.8;
  }
  
  /* Mostrar el submenú cuando está activo */
  .dropdown:hover .dropdown-menu,
  .dropdown .dropdown-menu {
    display: block;
  }

  .dancing-script-a {
    color: black;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.65rem;
    padding: 0.4rem;
  }
  span{
      color: black;
      text-decoration: none;
      font-weight: 500;
      font-size: x-large;
  }
  .dancing-script-a:hover{
    background-color: rgb(120, 206, 199);
    border-radius: 10px;
    transition: 0.5s;
  }
  
  .nav-redes {
    display: flex; /* Hace que los elementos dentro de .nav-redes se alineen en fila */
    padding: 1rem;
    margin-right: 18rem;
  }
  
  .logo-redes {
    width: 3rem; /* Ajusta el ancho de los iconos de redes sociales */
    height: 3rem; /* Ajusta la altura de los iconos de redes sociales */
    margin: 1.8rem;
  }

  // Final seccion NAV

  // Inicio Seccion Banner
  .sec-home {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10rem;
    margin: 0 auto;
  }
  .banner-btn{
    display: flex;
    justify-content: first baseline;
    align-items: first baseline;
    margin-top: 3rem;
    margin-left: 40%;
    gap: 1.5rem;
  }

  .blue-btn{
    text-decoration: none;
    color: white;
    background-color: rgb(120, 206, 199);
    border-radius: 10px;
    padding: 1rem;
  }
  .blue-btn:hover{
    background-color: #005f5f;
  }
// Final Seccion Banner

// Comienza Seccion Intro

  .sec-intro {
    h2{
      margin-left: 59rem;
    }
    .intro {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4vw;
  
        .img-centro{
          width: 35rem;
          height: 35rem;
          border-radius: 3rem;
          box-shadow: 0 4px 6px #a19892;;
          margin-left: 16.5rem;
        }
      }
  
      .intro-text {
        margin-bottom: 8rem;
        margin-right: 15%;
  
        .info-intro {
          margin-bottom: 15px;
        }
      }
    }
    // Final Seccion Intro

    // Inicio Seccion Elegirnos

    #elegirnos-title{
      margin-left: 40%;
      margin-top: 8rem;
    }


    .elegirnos-grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
      padding: 3rem 6rem 6rem 6rem;
      gap: 5rem;
    }

    // Final Seccion Elegirnos

    // Inicio Seccion Dudas

  .sec-doubts{
    display: flex;
    flex-direction: column;
    align-items: column;
    justify-content: column;
    text-align: center;
    margin: auto;
    padding: 5rem;
    
      .blue-btn{
        margin-top: 3rem;
        align-self: center;
        padding: 1rem;
      }
  }

  // Final Seccion Dudas

  hr{
    margin-left: 8rem;
    margin-right: 8rem;
  }

  // Inicio Seccion Footer

  .sec-footer{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .footer-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
  }
  .logo-footer{
    align-items: center;
    padding: 1rem;
    margin-right: 8rem;
    
    .img-footer{
      width: 25rem;
      height: 15rem;
    }
  }

  .contact-title{
    text-decoration: underline 1px gray;
    align-self: center;
  }

  .contact-list{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    text-decoration: none;
    list-style: none;

    .contact-item{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.7rem;
      text-decoration: none;
      gap: 0.5rem;
        span{
        font-size: medium;
        text-decoration: none;
      }
      .icon-place{
        color: black;
      }
    }
  }

  .privacity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.1rem;
    text-align: left;
    gap: 2rem;
    a{
      color: black;
    }

  }

  .direction-footer,
  .direction-footer span {
    font-weight: normal;
    text-decoration: none;
  }


  // Estilos para las animaciones

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.dancing-script-h1-banner {
  animation: slideInFromLeft 1.3s ease-out forwards;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: xxx-large;
}

// Imagen Apareciendo

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-centro {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.img-centro.visible {
  opacity: 1;
  animation: fadeIn 1s ease-in forwards;
}

.elegirnos {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.elegirnos.visible {
  opacity: 1;
}

.elegirnos.visible:nth-child(1) {
  animation: fadeIn 1s ease-in forwards;
}

.elegirnos.visible:nth-child(2) {
  animation: fadeIn 1.5s ease-in forwards;
}

.elegirnos.visible:nth-child(3) {
  animation: fadeIn 2s ease-in forwards;
}

//PRUEBA DESPLEGABLE

.menu {
  position: sticky;
  top: 0;
  background-color: #fff; /* Fondo del menú sticky */
  z-index: 1000; /* Asegura que el menú esté por encima del contenido */
}

/* Estilos para el menú principal */
.nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-menu li {
  position: relative;
  margin-right: 20px; /* Ajusta el margen entre los elementos del menú según tus necesidades */
}

.dropdown-menu {
  display: none; /* Ocultar el submenú por defecto */
  position: absolute;
  width: 10rem;
  margin: auto;
  top: 100%; /* Posiciona el submenú justo debajo del ítem principal */
  left: 50%; /* Centra el submenú horizontalmente en relación con el ítem principal */
  transform: translateX(-50%); /* Ajusta el centro del submenú en relación con el ítem principal */
  background-color: #fff; /* Color de fondo del submenú */
  border: 1px solid rgb(218, 190, 120); /* Borde del submenú */
  border-radius: 1rem; /* Bordes redondeados para un estilo de globito */
  padding: 1rem; /* Espaciado interno del submenú */
  box-shadow: 0 4px 6px rgb(218, 190, 120); /* Sombra para dar un efecto de elevación */
  z-index: 1000; /* Asegura que el submenú aparezca por encima de otros elementos */
}

.dropdown-menu a {
  padding: 10px;
  color: #000; /* Color del texto del submenú */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  display: block;
}
.dropdown-menu a:hover {
  opacity: 0.8;
}

/* Mostrar el submenú cuando está activo */
.dropdown:hover .dropdown-menu,
.dropdown .dropdown-menu {
  display: block;
}