<section class="banner">
    <div class="banner-container">
        <div class="img-banner">
            <img src="assets\img\facial.jpg" alt="mesa manicura">
            <div class="banner-text">
                <h1 class="dancing-script-h1">Tratamientos Faciales</h1>
                <hr>
                <p>Texto de Prueba Evelyn ya me dirás tu que carajo poner aquí.</p>
            </div>
        </div>
    </div>
</section>
<section class="information-sec">
    <div class="information">
        <h1 class="dancing-script-h1">Descubre todas nuestras Limpiezas y Tratamientos</h1>
        <p>
            En Mimos, ofrecemos una experiencia de limpieza facial que revitaliza y rejuvenece tu piel. <br><br>
             Nuestros tratamientos están diseñados para eliminar impurezas, promover la renovación celular y dejar tu rostro radiante y saludable.<br>
             Utilizando <strong>productos de alta calidad</strong> y técnicas personalizadas, <br> nos aseguramos de que cada sesión no solo sea efectiva, sino también relajante y placentera. <br><br>
             ¡Descubre la frescura y luminosidad de una piel perfectamente cuidada con nuestras limpiezas faciales!</p>
        <a class="blue-btn" target="_blank" href="https://www.instagram.com/mimosvigo">Descúbrelas</a>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\cutis.jpg" alt="Limpieza Cutis">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">Limpieza de Cutis</h2>
            <p>Texto de pruebaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
    </div>
</section>
<section class="example-secizq">
    <div class="exampleizq">
        <div class="textizq">
            <h2 class="dancing-script-h1">Tratamiento Facial</h2>
            <p>Texto de pruebaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
        <div class="div-imgizq" appIntersectionObserver>
            <img src="assets\img\cutis2.jpeg" alt="Tratamiento Facial">
        </div>
    </div>
</section>
