<section class="banner">
    <div class="banner-container">
        <div class="img-banner">
            <img src="assets\img\facial.jpg" alt="mesa manicura">
            <div class="banner-text">
                <h1 class="dancing-script-h1">Tratamientos Faciales</h1>
                <hr>
                <p>Descubre una experiencia de limpieza facial que combinan tradición y tecnología, <br>
                    te garantizamos resultados visibles y duraderos.</p>
            </div>
        </div>
    </div>
</section>
<section class="information-sec">
    <div class="information">
        <h1 class="dancing-script-h1">Descubre todas nuestras Limpiezas y Tratamientos</h1>
        <p>
            En Mimos, ofrecemos una experiencia de limpieza facial que revitaliza y rejuvenece tu piel. <br><br>
             Nuestros tratamientos están diseñados para eliminar impurezas, promover la renovación celular y dejar tu rostro radiante y saludable.<br>
             Utilizando <strong>productos de alta calidad</strong> y técnicas personalizadas, <br> nos aseguramos de que cada sesión no solo sea efectiva, sino también relajante y placentera. <br><br>
             ¡Descubre la frescura y luminosidad de una piel perfectamente cuidada con nuestras limpiezas faciales!</p>
        <a class="blue-btn" target="_blank" href="https://www.instagram.com/mimosvigo">Descúbrelas</a>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\cutis.jpg" alt="Limpieza Cutis">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">Limpieza de Cutis</h2>
            <p>Es un tratamiento fundamental para mantener una piel saludable y radiante <br>
            Este proceso elimina impurezas, exceso de sebo, y células muertas. <br>
            Permitiendo que tu piel respire, los poros se cierren y se renueve. <br><br>
            Todo esto acompañado de productos de la marca "Kelaya" conocida por su enfoque en la belleza <br>
        natural y libre de químicos nocivos para la piel. <br><br>
        Una vez terminado, disfrutarás de un masaje linfático mientras te relajas.<br>
        Mima tu piel con ingredientes de origen natural. 
        </p>
            <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
    </div>
</section>
<section class="example-secizq">
    <div class="exampleizq">
        <div class="textizq">
            <h2 class="dancing-script-h1">Tratamiento Facial</h2>
            <p>En Mimos cuando hablamos de un Tratamiento Facial, no es a la ligera. <br>
            Primero realizaremos un diagnóstico que puede ser el mismo día de la cita <br>
        o con anterioridad. Gracias a ello enfocamos el tipo de tratamiento que tu piel necesita <br>
    y te recomendaremos qué productos de la marca "Kelaya" son los idóneos para ti. <br><br>
    Este tratamiento incluye todo lo que realizamos en nuestra Limpieza de Cutis <br> tras lo que se daría paso
    al propio tratamiento. <br><br> ¡Nos encanta conocerte y ayudarte a que te veas bien!</p>
                <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
        <div class="div-imgizq" appIntersectionObserver>
            <img src="assets\img\cutis2.jpeg" alt="Tratamiento Facial">
        </div>
    </div>
</section>
