<section class="banner">
    <div class="banner-container">
        <div class="img-banner">
            <img src="assets\img\maquillaje.jpg" alt="silla depilacion">
            <div class="banner-text">
                <h1 class="dancing-script-h1">Pestañas</h1>
                <hr>
                <p>Transforma tu mirada con pestañas perfectas <br> y voluminosas.</p>
            </div>
        </div>
    </div>
</section>
<section class="information-sec">
    <div class="information">
        <h1 class="dancing-script-h1">Saca a relucir tu mirada</h1>
        <p>En Mimos somos expertas en Lifting de Pestañas y Diseños de Cejas. <br>
        Nuestro objetivo es resaltar <strong>tu mirada única</strong> <br><br>Cuidando y protegiendo la salud de tus pestañas.
        Porque cada persona tiene características únicas,<br> adaptamos nuestros servicios a las necesidades individuales de cada cliente.</p>
        <a class="blue-btn" target="_blank" href="https://www.instagram.com/mimosvigo">Descúbrenos</a>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\ruso.jpg" alt="lifting pestañas">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">Lifting de Pestañas</h2>
            <p>Es una técnica revolucionaria que transforma tus pestañas naturales, <br>
                 dándoles un aspecto más rizado y voluminoso sin necesidad de extensiones. <br> <br>
                  Este tratamiento realza tu mirada al levantar y curvar cada pestaña desde la raíz. <br>
                  El lifting de pestañas te permite lucir una mirada más abierta y atractiva <br>
                   con un efecto que durará varias semanas.</p>
            <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
    </div>
</section>
<section class="example-secizq">
    <div class="exampleizq">
        <div class="textizq">
            <h2 class="dancing-script-h1">Extensión de Volumen Ruso</h2>
            <p>En Mimos, nos encanta verte y que te veas bien <br>
            Las Extensiones de Volumen Ruso, llevan la definición de tus pestañas a un nivel superior,<br>
             Creando un look espectacular y voluminoso. <br><br>
            Esta técnica utiliza múltiples extensiones ultrafinas aplicadas a cada pestaña natural <br>
            Logrando un efecto de mayor densidad y volumen sin comprometer la ligereza. <br><br>
            ¡Perfectas para ocasiones especiales o para realzar tu belleza diaria!</p>
                <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
        <div class="div-imgizq" appIntersectionObserver>
            <img src="assets\img\pestañas.jpg" alt="volumen ruso">
        </div>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\ojo.jpg" alt="lifting pestañas">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">Retoque de Extensión</h2>
            <p>Con el paso de las semanas, algunas extensiones pueden caer <br>
            Esto ocurre a medida que tus pestañas crecen y se renuevan, <br><br>
            Durante el retoque, se repone el volumen perdido y se ajustan las extensiones <br>
            Garantizamos que tus pestañas se mantengan llenas y sin espacios vacíos. <br>
            ¡Asegurate de lucir una mirada impecable!.</p>
            <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
    </div>
</section>

