<section class="banner">
    <div class="banner-container">
        <div class="img-banner">
            <img src="assets\img\maquillaje.jpg" alt="silla depilacion">
            <div class="banner-text">
                <h1 class="dancing-script-h1">Pestañas</h1>
                <hr>
                <p>Texto de Prueba Evelyn ya me dirás tu que carajo poner aquí.</p>
            </div>
        </div>
    </div>
</section>
<section class="information-sec">
    <div class="information">
        <h1 class="dancing-script-h1">Saca a relucir tu mirada</h1>
        <p>En Mimos somos expertas en Lifting de Pestañas y Diseños de Cejas. <br>
        Nuestro objetivo es resaltar <strong>tu mirada única</strong> <br><br>Cuidando y protegiendo la salud de tus pestañas.
        Porque cada persona tiene características únicas,<br> adaptamos nuestros servicios a las necesidades individuales de cada cliente.</p>
        <a class="blue-btn" target="_blank" href="https://www.instagram.com/mimosvigo">Descúbrenos</a>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\ruso.jpg" alt="lifting pestañas">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">Lifting de Pestañas</h2>
            <p>Texto de pruebaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
    </div>
</section>
<section class="example-secizq">
    <div class="exampleizq">
        <div class="textizq">
            <h2 class="dancing-script-h1">Extensión de Volumen Ruso</h2>
            <p>Texto de pruebaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
        <div class="div-imgizq" appIntersectionObserver>
            <img src="assets\img\pestañas.jpg" alt="volumen ruso">
        </div>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\ojo.jpg" alt="lifting pestañas">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">Retoque de Extensión</h2>
            <p>Texto de pruebaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
    </div>
</section>

