<section class="banner">
    <div class="banner-container">
        <div class="img-banner">
            <img src="assets\img\sesionmadero.jpeg" alt="mesa manicura">
            <div class="banner-text">
                <h1 class="dancing-script-h1">Maderoterapia</h1>
                <hr>
                <p>Texto de Prueba Evelyn ya me dirás tu que carajo poner aquí.</p>
            </div>
        </div>
    </div>
</section>
<section class="information-sec">
    <div class="information">
        <h1 class="dancing-script-h1">¿Qué es la Maderoterapia?</h1>
        <p>La Maderoterapia es una técnica de masaje y tonificación corporal originada en Asia. <br> Mediante el uso de instrumentos de madera se aplica presión controlada
            en diferentes partes del cuerpo. <br><br>
            La maderoterapia se recomienda para <strong>reducir la celulitis, tonificar la piel y figura, y mejorar la circulación sanguínea.</strong><br>
            También se utiliza para <strong>aliviar la tensión muscular y el estrés</strong>, promover la relajación y equilibrar la energía del cuerpo.<br> <br>
            Es una técnica natural, no invasiva que aporta resultados claros y duraderos sin recurrir a cirugías. <br>
            ¡Llámanos y agenda tu primera sesión de Maderoterapia!</p>
        <a class="blue-btn" target="_blank" href="https://api.whatsapp.com/send?phone=623324848">Contáctanos</a>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\madero1.jpeg" alt="Maderoterapia relajante">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">¿Como es una sesión de Maderoterapia?</h2>
            <p>Texto de pruebaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
    </div>
</section>
<section class="example-secizq">
    <div class="exampleizq">
        <div class="textizq">
            <h2 class="dancing-script-h1">Instrumentos que Utilizamos</h2>
            <p>Texto de pruebaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br>
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
        <div class="div-imgizq" appIntersectionObserver>
            <img src="assets\img\madero2.jpeg" alt="Instrumentos Maderoterapia">
        </div>
    </div>
</section>
