<section class="banner">
    <div class="banner-container">
        <div class="img-banner">
            <img src="assets\img\sesionmadero.jpeg" alt="mesa manicura">
            <div class="banner-text">
                <h1 class="dancing-script-h1">Maderoterapia</h1>
                <hr>
                <p>Descubre el poder de la maderoterapia <br>
                 Una técnica innovadora para esculpir tu figura y revitalizar tu bienestar.</p>
            </div>
        </div>
    </div>
</section>
<section class="information-sec">
    <div class="information">
        <h1 class="dancing-script-h1">¿Qué es la Maderoterapia?</h1>
        <p>La Maderoterapia es una técnica de masaje y tonificación corporal originada en Asia. <br> Mediante el uso de instrumentos de madera se aplica presión controlada
            en diferentes partes del cuerpo. <br><br>
            La maderoterapia se recomienda para <strong>reducir la celulitis, tonificar la piel y figura, y mejorar la circulación sanguínea.</strong><br>
            También se utiliza para <strong>aliviar la tensión muscular y el estrés</strong>, promover la relajación y equilibrar la energía del cuerpo.<br> <br>
            Es una técnica natural, no invasiva que aporta resultados claros y duraderos sin recurrir a cirugías. <br>
            ¡Llámanos y agenda tu primera sesión de Maderoterapia!</p>
        <a class="blue-btn" target="_blank" href="https://api.whatsapp.com/send?phone=623324848">Contáctanos</a>
    </div>
</section>
<section class="examples-sec">
    <div class="example">
        <div class="div-img" appIntersectionObserver>
            <img src="assets\img\madero1.jpeg" alt="Maderoterapia relajante">
        </div>
        <div class="text">
            <h2 class="dancing-script-h1">¿Como es una sesión de Maderoterapia?</h2>
            <p>Imagina un momento de relajación mientras trabajamos en tu bienestar. <br>
            Utilizando aceite corporal y herramientas de madera especialmente diseñadas <br>
            para masajes que estimulan la circulación, esculpen tu figura y liberan tensiones acumuladas. <br><br>
            Durante la sesión podrás experimentar una sensación de prodfundo alivio <br>
            mientras tu sistema linfático se activa eliminando toxinas y reduciendo la apariencia de celulitis. <br>
            A medida que avanzamos, también podrás sentir como con cada movimiento tonificamos tu cuerpo <br>
            Dandole una apariencia más tonificada y definida. <br><br>
            Cada sesión está adaptada a tus necesidades, pues puede ser de cuerpo completo o estar más enfocada <br>
        a esas zonas donde sientes mayor tensión, cansancio o concentración de celulitis. <br><br>
        Ven a nuestro centro y descubre esta técnica innovadora que está arrasando por sus resultados <br>
        Además en Mimos todas nuestras sesiones de Maderoterapia tienen 1 hora de duración <br>
        Terminando con un masaje relajante y unos minutos para descansar tras la sesión. <br><br>
            ¡Descubre los efectos de la Maderoterapia y conoce nuestros bonos!</p>
            <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
    </div>
</section>
<section class="example-secizq">
    <div class="exampleizq">
        <div class="textizq">
            <h2 class="dancing-script-h1">Instrumentos que Utilizamos</h2>
            <p>En una sesión de Maderoterapia utilizamos una gran variedad de instrumentos tradicionales <br> <br>
            Los cuales están diseñados para ofrecer un tratamiento eficaz y transformador. <br>
            Cada instrumento tiene un propósito y es utilizado para un área y con una técnica concreta. <br><br>
            Entre ellos están los Rodillos de Madera, Copa de Madera, Palas y Figuras Esculturales. <br><br>
            Resalta tu belleza Natural y revitaliza tu cuerpo, ¡Te esperamos! </p>
                <a class="blue-btn" target="_blank" href="https://mimosbeautycenter.setmore.com/">Reserva tu Cita</a>
        </div>
        <div class="div-imgizq" appIntersectionObserver>
            <img src="assets\img\madero2.jpeg" alt="Instrumentos Maderoterapia">
        </div>
    </div>
</section>
