.dancing-script-h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: xxx-large;
  }

  .dancing-script-h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
  }

  p {
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 50rem;
    overflow: hidden;
    margin-bottom: 4rem;
}

.banner-container {
    position: relative;
    width: 80rem;
    height: 50rem;
}

.img-banner {
    margin-top: 2.5rem;
    position: relative;
    width: 80rem;
    height: 50rem;
}

.img-banner img {
    width: 80rem;
    height: 45rem;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4rem;
    box-shadow:  6px 4px 6px rgb(218, 190, 120);
}

.banner-text {
    position: absolute;
    top: 31%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    text-align: left;
}

.banner-text h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    margin: 0;
    opacity: 0;
    animation: slideDown 1.2s forwards;
}

.banner-text hr {
    width: 15rem;
    border: 1px solid white;
    margin: 10px 0;
    animation: slideInFromLeft 1s forwards;
}

//FIN BANNER

.information-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 8rem;
}

.information p{
    margin-bottom: 3rem;
}

.blue-btn{
    text-decoration: none;
    color: white;
    background-color: rgb(120, 206, 199);
    border-radius: 10px;
    padding: 1rem;
  }
  .blue-btn:hover{
    background-color: #005f5f;
  }

//FIN INFORMACION

.examples-sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 10rem;
}
.example{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.div-img img {
    object-fit: cover;
    object-position: center 95%;
    height: 33rem;
    width: 35rem;
    display: block;
    border-radius: 3rem;
    box-shadow:  0 4px 6px #a19892;
}

.text {
    text-align: center;
    p{
        margin-bottom: 3rem;
    }
}


.text h2 {
    text-align: center;
}

//FIN EJEMPLO IZQ

.examples-secizq {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.exampleizq{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    margin-left: 20rem;
}

.div-imgizq img {
    object-fit: cover;
    object-position: bottom;
    height: 33rem;
    width: 35rem;
    display: block;
    border-radius: 3rem;
    box-shadow:  0 4px 6px #a19892;
    margin-bottom: 10rem;
}

.textizq {
    text-align: center;
    p{
        margin-bottom: 3rem;
    }
}

.textizq h2 {
    text-align: center;
}

//Animaciones

.div-img{
    opacity: 0;
    transition: opacity 1s ease-in;
}      

.div-img.visible {
    opacity: 1;
    animation: fadeIn 1s ease-in forwards;
}

.div-imgizq{
    opacity: 0;
    transition: opacity 1s ease-in;
}      

.div-imgizq.visible {
    opacity: 1;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para el banner */
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        width: 90%;
        height: 25rem;
        overflow: hidden;
        margin-bottom: 2rem;
        margin-top: 2rem;
        margin-left: 5%;
        z-index: 2;
        border-radius: 2rem;
        box-shadow: 4px 4px 6px rgb(218, 190, 120);
    }

    .banner-container {
        position: relative;
        width: 100%;
        height: auto;
    }

    .img-banner {
        margin-top: 1rem;
        position: relative;
        width: 100%;
        height: auto;
    }

    .img-banner img {
        width: 100%;
        height: auto;
        object-fit: cover;
        position: relative;
    }

    .banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        padding: 1rem;
        width: 90%;
    }

    .banner-text h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 2.2em;
        margin: 0;
        opacity: 1;
        animation: slideDown 1.2s forwards;
    }

    .banner-text hr {
        width: 5rem;
        border: 1px solid white;
        margin: 1rem auto;
        animation: slideInFromLeft 1s forwards;
    }

    .banner-text p {
        font-size: 1.1rem;
        margin-top: 1rem;
    }
  
    /* Estilos para la sección de información */
    .information-sec {
        flex-direction: column;
        margin-bottom: 3rem;
    }
  
    .information p {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
        padding: 2rem;
    }
  
    .blue-btn {
        padding: 0.7rem;
        font-size: 1rem;
        border-radius: 0.5rem;
    }
  
    /* Estilos para las secciones de ejemplos */
    .examples-sec, 
    .examples-secizq {
        flex-direction: column;
        padding: 1rem;
        margin-bottom: 4rem;
    }
  
    .example, 
    .exampleizq {
        flex-direction: column;
        gap: 1.5rem;
        margin: 2%;
    }
  
    .div-img img,
    .div-imgizq img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 9%;
        width: 80%;
        height: auto;
        border-radius: 3rem;
        box-shadow: none;
        margin-bottom: 1.5rem;
        overflow-clip-margin: content-box;
        overflow: clip;
    }
  
    .text,
    .textizq {
        text-align: center;
    }
  
    .text h2,
    .textizq h2 {
        font-size: 2.2rem;
    }
  
    .text p,
    .textizq p {
        font-size: 1.3rem;
    }

    .example, .exampleizq {
        flex-direction: column;
        text-align: center;
    }

    .div-img, .div-imgizq {
        order: 0;
        width: auto;
        height: auto;
    }

    .text, .textizq {
        order: 1;
    }
}

  /* Media Query para móviles */
@media (max-width: 768px) {
/* Estilos para el banner */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 95%;
    height: 25rem;
    overflow: hidden;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 3rem;
    margin: 0.5rem;
    box-shadow:  6px 4px 6px rgb(218, 190, 120);
}

.banner-container {
    position: relative;
    width: 100%;
    height: auto;
}

.img-banner {
    margin-top: 1rem;
    position: relative;
    width: 100%;
    height: auto;
}

.img-banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 1rem;
    width: 90%;
}

.banner-text h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    margin: 0;
    opacity: 1;
    animation: slideDown 1.2s forwards;
}

.banner-text hr {
    width: 11rem;
    border: 1px solid white;
    margin: 1rem auto;
    animation: slideInFromLeft 1s forwards;
}

.banner-text p {
    font-size: 1.2rem;
    margin-top: 1rem;
}
  
    /* Estilos para la sección de información */
    .information-sec {
        flex-direction: column;
        margin-bottom: 4rem;
    }
  
    .information p {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
  
    .blue-btn {
        padding: 0.8rem;
        font-size: 1rem;
        border-radius: 0.5rem;
    }
  
    /* Estilos para las secciones de ejemplos */
    .examples-sec, 
    .examples-secizq {
        flex-direction: column;
        padding: 1rem;
        margin-bottom: 5rem;
    }
  
    .example, 
    .exampleizq {
        flex-direction: column;
        gap: 2rem;
        margin: 3%;
    }
  
    .div-img img,
    .div-imgizq img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: none;
        margin-bottom: 2rem;
    }
  
    .text,
    .textizq {
        text-align: center;
    }
  
    .text h2,
    .textizq h2 {
        font-size: 1.8em;
    }
  
    .text p,
    .textizq p {
        font-size: 1rem;
    }

    .example, .exampleizq {
        flex-direction: column;
        text-align: center;
    }

    .div-img, .div-imgizq {
        order: 0;
    }

    .text, .textizq {
        order: 1;
    }
  }